[submodule "start/gruvbox"]
	path = start/gruvbox
	url = git@github.com:morhetz/gruvbox.git
[submodule "start/nerdtree"]
	path = start/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule "start/ack"]
	path = start/ack
	url = git@github.com:mileszs/ack.vim.git
[submodule "start/ctrlp"]
	path = start/ctrlp
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "start/lightline"]
	path = start/lightline
	url = git@github.com:itchyny/lightline.vim.git
[submodule "start/vim-visual-multi"]
	path = start/vim-visual-multi
	url = git@github.com:mg979/vim-visual-multi.git
[submodule "start/vim-easymotion"]
	path = start/vim-easymotion
	url = git@github.com:easymotion/vim-easymotion.git
[submodule "start/vim-surround"]
	path = start/vim-surround
	url = git@github.com:tpope/vim-surround.git
