[submodule "start/gruvbox"]
	path = start/gruvbox
	url = git@github.com:morhetz/gruvbox.git
[submodule "start/nerdtree"]
	path = start/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule "start/ack"]
	path = start/ack
	url = git@github.com:mileszs/ack.vim.git
